body{
    margin: 0;
    padding: 0;
}
.register-page-area{
    overflow: auto;
    width: 100%;
    height: 100vh;
    background-color: #e4e4e4;
}

.register-form-group{
    width: 500px;
    padding: 10px;
    margin: 100px auto 0 auto;
    background-color: #edf5ff;
    border: 1px solid #e4f9ff;
    border-radius: 10px;
}

.register-input{
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 15px;
}

.register-label{
    color: #969696;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.btn.login-btn{
    border-radius: 5px;
    background-color: #4d92fc;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
}

.btn.login-btn:hover{
    color: #FFFFFF;
    background-color: #3982ef;

}
.btn.login-btn:focus{
    outline: none;
    box-shadow: none;
}
.btn.login-btn:active{
    background-color: #226ede;

}

.btn.join-btn{
    border-radius: 5px;
    background-color: #41d248;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;

}

.btn.join-btn:hover{
    color: #FFFFFF;
    background-color: #2ec342;

}
.btn.join-btn:focus{
    outline: none;
    box-shadow: none;
}
.btn.join-btn:active{
    background-color: #178520;

}

.register-a{
    border-radius: 5px;
    background-color: #4d92fc;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    float: right;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 30px;
    text-align: center;
    line-height: 40px;
    font-family: 'Noto Sans KR', sans-serif;

}
.register-a:hover{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration:none;
}

.app{
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #ffffff;
    padding: 90px 90px 0 90px;
}

.page-container{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.user-profile{
    width: 700px;
    height: 300px;
    border: 1px solid #1a1a1a;
    margin: 0 auto;
}
.profile-image-area{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
    font-size: 100px;
    background-color: #81c1ec;
    padding: 20px;
    color: #FFFFFF;
}
.profile-user-name{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}

.user-area{
    float: right;
    width: 400px;
    height: 150px;
    margin-top: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    background-color: #F8F8F8;
}
.user-info-area{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

.user-name{
    font-size: 20px;
    color: #1a1a1a;
    font-family: 'RocknRoll One', sans-serif;
}
.user-mail{
    font-size: 12px;
    color: #999999;
    font-family: 'RocknRoll One', sans-serif;
}
.register-p{
    float: right;
    margin-right: 30px;
    clear: both;
}

.sign-up{
    font-size: 12px;
    color: #777777;
    font-family: 'Noto Sans KR', sans-serif;
}
.sign-up:hover{
    color: #777777;
}

.warning-message{
    color: rgba(255,0,0,0.7);
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;

}

.user-my-page{
    color: #999999;
    font-size: 15px;
}
.user-my-page:hover{
    color: #4774bc;
    text-decoration:none;

}
