<!DOCTYPE html>
<html>
<% include ../../layout/head.ejs %>
<body>

<div class="app">
    <div class="page-container">
        <div class="user-profile">
            <img class="profile-image-area " src="/images/default-profile.png">
            <span id="userName" class="profile-user-name"></span>
            <div class="posting-crud">
                <a class="btn posting-insert-btn" href="/posting/insert">게시물 등록</a>
                <button class="btn posting-update-btn">게시물 수정</button>
                <button class="btn posting-delete-btn">게시물 삭제</button>
            </div>
        </div>
    </div>
</div>

<% include ../../layout/script.ejs %>
<script>
    const $userName = $('#userName');
    $(document).ready(()=>{
        $userName.text("<%= name %>");
    });
</script>
</body>
</html>