<!DOCTYPE html>
<html>
<% include ../layout/head.ejs %>
<body>
<div class="header">
    <a class="register-a" id="register"></a>
</div>
<div class="app">
    <div class="page-container">
        <div class="user-area"></div>
    </div>
</div>

<% include ../layout/script.ejs %>

<script>
    $(document).ready(async function () {
        if (Cookies.get('x-access-token')) {
            $('#register').attr('href', '/api/register/logout');
            $('#register').text('로그아웃');
            const data = await $.get('/api/user/info');
            console.log(data);
        } else {
            $('#register').attr('href', '/login');
            $('#register').text('로그인');
        }
    })
</script>
</body>
</html>
