<!DOCTYPE html>
<html>
<head>
    <title>LT.Blog</title>
    <link rel='stylesheet' href='/stylesheets/design.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
</head>
<body>
<div class="header">

</div>

<script src="/jquery/jquery.js"></script>
</body>
</html>
