<!DOCTYPE html>
<html>
<head>
    <title>LT.Blog</title>
    <link rel='stylesheet' href='/stylesheets/design.css'/>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'/>
</head>
<body>
<div class="login-page-area">
    <div class="login-form-group">
        <button type="reset" class="reset-btn">다시 작성</button>
        <label class="login-label">Email</label>
        <input type="email" class="form-control login-input" id="email">
        <label class="login-label">Password</label>
        <input type="password" class="form-control login-input" id="password">
        <button type="submit" class="btn btn-secondary" onclick="login()">로그인</button>
    </div>
</div>


<script src="/jquery/jquery.js"></script>
<script src="/js-cookie/src/js.cookie.js"></script>

<script>
    async function login() {
        const email = $('#email').val();
        const password = $('#password').val();

        if (typeof email === "undefined" || email === "" || email === undefined) {
            alert("Email error");
        }else if (typeof password === "undefined" || password === "" || password === undefined) {
            alert("Password error");
        }else{
            const data = await $.post('/api/register/login', {email: email, password: password});

            if (data.result === 500) {
                alert('login failed');
            } else if (data.result === 200) {
                location.href = '/';
            }
        }
    }
</script>
</body>
</html>
