<!DOCTYPE html>
<html>
<% include ../../layout/head.ejs %>
<body>

<div class="app">
    <div class="insert-container">
        <div class="posting-insert-area">
            <label class="col-form-label">제목</label>
            <input type="text" class="form-control" id="title">
            <label class="col-form-label">카테고리</label>
            <input type="text" class="form-control" id="category">
            <label class="col-form-label">내용</label>

            <div id="contents"></div>
            <button class="btn posting-insert-btn margin-t" onclick="postingButton()">등록</button>
        </div>

    </div>
</div>

<% include ../../layout/script.ejs %>
<script>
    let editor = new FroalaEditor('#contents', {
        enter : FroalaEditor.ENTER_BR
    });

    const $title = $("#title");
    const $category = $("#category");

    function checkVal() {
        return !!($title.val() && $category.val() && editor.html.get());
    }

    async function insertPosting() {
        if (checkVal()) {
            const _data = {
                title: $title.val(),
                category: $category.val(),
                contents: editor.html.get(),
            }
            const data = await $.post('/api/posting/', _data);
            if (data.error) {
                alert(data.error);
            } else {
                location.href = '/';
            }
        } else {
            alert("내용 누락");
        }
    }

    async function postingButton() {

        if (confirm("등록하시겠습니까?")) {
            await insertPosting();
        }
    }
</script>
</body>
</html>